.bottom-player-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #8DB9D2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 1000;
}

.mini-track-info { 
    display: flex; 
    align-items: center; 
    gap: 12px; 
    width: 250px; 
}
.mini-img {
    width: 50px; 
    height: 50px; 
    border-radius: 8px; 
    object-fit: cover; 
}
.mini-title {
    font-weight: bold;
    color: #1B5063; 
    margin: 0; 
}
.mini-artist { 
    font-size: 12px; 
    color: #4A607A; 
    margin: 0; 
}
.main-controls {
    display: flex; 
    align-items: center; 
    gap: 20px; 
}
.play-btn-circle { 
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    background-color: #3D84C1; 
    border: none; 
    color: white; 
    cursor: pointer;
 }
.ctrl-btn { 
    background: none; 
    border: none; 
    font-size: 24px; 
    color: #3D84C1; 
    cursor: pointer; 
}
.volume-section {
    display: flex; 
    align-items: center; 
    gap: 10px; 
    width: 250px; 
    justify-content: flex-end; 
}

