
.login-logo {
    display: inline-block;
    background: transparent;
    border: none;
    position: absolute;
    top: -50px;
    left: -50px;
    width: 200px;
    height: 200px
}
.logo {
    width: 200px;
    height: auto;
    object-fit: contain;
    margin-left: 0;
}

.loginphoto {
    width: 1000px;
    height: 1200px;
    margin-left: 0;    
}
.login-photo {
    position: absolute;
    top: 0;
    right: 0;
}
h1 {
    margin: 0;
    font-family: 'Inter', 'Outfit', 'Plus Jakarta Sans', 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #000;
    position: absolute;
    top: 194px;
    left: 300px;
}
h2 {
    margin: 0;
    font-family: 'Inter', 'Outfit', 'Plus Jakarta Sans', 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #968B8B;
    position: absolute;
    top: 242px;
    left: 300px;
}
.input-email {
    position: relative;
    margin: 25px;
    width: 300px;
}
.input-email input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 2px;
    position: absolute;
    top: 300px;
    left: 275px;
}
.input-email label {
    position: absolute;
    top: 293px;
    left: 295px;
    background: white;
    padding: 0 5px;
    font-size: 14px;
    color: #777;
    white-space: nowrap;

}
.input-password {
    position: relative;
    margin: 25px;
    width: 300px;
}
.input-password input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 2px;
    position: absolute;
    top: 380px;
    left: 275px;
}
.input-password label {
    position: absolute;
    top: 373px;
    left: 295px;
    background: white;
    padding: 0 5px;
    font-size: 14px;
    color: #777;

}
.Signin1 button {
    font-family: 'Inter', 'Outfit', 'Plus Jakarta Sans', 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    padding: 10px 25px;
    margin: 10px;
    border: none;
    border-radius: 2px;
    background-color: #8A8585;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    top: 470px;
    left: 290px;
    width: 300px
}
.dont {
    position: absolute;
    top: 550px;
    left: 361px;
    font-family: 'Inter', 'Outfit', 'Plus Jakarta Sans', 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.signup {
    position: absolute;
    top: 575px;
    left: 415px;
    font-family: 'Inter', 'Outfit', 'Plus Jakarta Sans', 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.forgot {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-family: 'Inter', 'Outfit', 'Plus Jakarta Sans', 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #000;
}
.forgot a{
    color: #000;
    text-decoration: none;
}