

.right-player-container {
    width: 100%;
    height: 100%;

    background-color: #B6C9E1;
    border-radius: 40px;
    padding: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative; 
}



.album-art-wrapper {
    width: 90%;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
    overflow: hidden;

    margin-top: 20px;
}

.large-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}



.track-info {
    width: 100%;
    margin-top: 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-meta h3 {
    margin: 0;
    font-size: 18px;
}

.text-meta p {
    margin: 4px 0 0;
    font-size: 14px;
    opacity: 0.7;
}

.add-button {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
}

.main-controls {
    margin-top: auto; 
    display: flex;
    align-items: center;
    gap: 20px;
}

.ctrl-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.play-btn-circle {
    width: 56px;
    height: 56px;
    border-radius: 50%;

    border: none;
    background-color: #3D84C1;
    color: white;

    font-size: 18px;
    cursor: pointer;
}
